body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

form {
    margin: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

label {
    display: block;
    margin: 5px 0;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}






input[type="submit"] {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
