<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Biblioteca App</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            margin: 20px;
        }

        h1, h2 {
            color: #333;
        }

        p {
            color: #666;
        }

        #container {
            max-width: 800px;
            margin: 0 auto;
        }
    </style>
</head>
<body>

<div id="container">
    <h1>Biblioteca App</h1>
    <p>Bienvenido a Biblioteca App, tu compañero digital para explorar el vasto mundo de la literatura. Nos apasiona fomentar la lectura y hacer que la información sea accesible para todos. Con nuestra aplicación, puedes descubrir, organizar y disfrutar de una amplia variedad de libros en cualquier momento y lugar.</p>

    <h2>Nuestra Misión</h2>
    <p>En Biblioteca App, nos esforzamos por promover la educación y el enriquecimiento personal a través de la lectura. Queremos facilitar el acceso a la información y fomentar el amor por los libros en personas de todas las edades y trasfondos.</p>

    <h2>Características Principales</h2>
    <p>Explora nuestro catálogo diverso que abarca desde clásicos intemporales hasta las últimas novedades. Organiza tus lecturas, lleva un registro de tus favoritos y descubre recomendaciones personalizadas basadas en tus intereses. Además, puedes acceder a nuestra aplicación desde múltiples dispositivos para que tu experiencia sea perfectamente integrada en tu vida cotidiana.</p>

    <h2>Contacto</h2>
    <p>¡Nos encantaría escucharte! Si tienes preguntas, sugerencias o simplemente quieres decir hola, no dudes en ponerte en contacto con nosotros. Puedes encontrarnos en bibliotecaapp@example.com.</p>
</div>

</body>
</html>