<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" type="image/png" sizes="16x16" href="https://gamepedia.cursecdn.com/minecraft_de_gamepedia/3/35/Buch.png?v">
    <title>BIBLIOTECA PANTYSMEL</title>
</head>
<body>

<header th:fragment="headerUsuario">
    <nav>
        <h1>Biblioteca</h1>
        <ul class="navigation-menu">
            <li><a th:href="@{/homeUsuario}">Home</a></li>
            <li><p id="bar3">Gestión Prestamos</p>
                <ul>
                    <li><a href="/prestamos/realizarPrestamo" onclick="showForm('realizarPrestamo')">Realizar Prestamo</a></li>
                    <li><a href="/prestamos/realizarDevolucion" onclick="showForm('realizarDevolucion')">Realizar Devolución</a></li>
                    <li><a href="/prestamos/realizarReserva" onclick="showForm('realizarReserva')">Realizar Reserva</a></li>
                </ul>
            </li>
            <li><p id="bar4">Gestión Penalizaciones</p>
                <ul>
                    <li><a href="#" onclick="showForm('altaEjemplar')">ALTA EJEMPLAR</a></li>
                    <li><a href="#" onclick="showForm('bajaEjemplar')">BAJA EJEMPLAR</a></li>
                </ul>
            </li>
            <li><a href="AboutUS.html">About Us</a>
                <ul>
                    <li><a href="#">Our Team</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>

