<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/navbar.css">
  <link rel="icon" type="image/png" sizes="16x16" href="https://gamepedia.cursecdn.com/minecraft_de_gamepedia/3/35/Buch.png?v">
  <title>BIBLIOTECA PANTYSMEL</title>
</head>
<body>

<header th:fragment="header">
  <nav>
    <h1 id="Cabecera">Admin - Biblioteca</h1>
    <ul class="navigation-menu">
      <li><a id="nav1"th:href="@{/home}">Home</a></li>
      <li><p id="nav2">Gestión Títulos</p>
        <ul>
          <li><a href="/titulos/altaTitulo" onclick="showForm('altaTitulo')">Alta Título</a></li>
          <li><a href="/titulos/actualizarTitulo" onclick="showForm('actualizarTitulo')">Actualizar Título</a></li>
          <li><a href="/titulos/borrarTitulo" onclick="showForm('borrarTitulo')">Borrar Título</a></li>
        </ul>
      </li>
      <li><p id="nav3">Gestión Ejemplares</p>
        <ul>
          <li><a href="/titulos/altaEjemplar" onclick="showForm('altaEjemplar')">ALTA EJEMPLAR</a></li>
          <li><a href="/titulos/bajaEjemplar" onclick="showForm('bajaEjemplar')">BAJA EJEMPLAR</a></li>
        </ul>
      </li>
      <li><a href="/login">Cerrar Sesión</a></li>
    </ul>
  </nav>
</header>
</body>
</html>
