<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="icon" type="image/png" sizes="16x16" href="https://gamepedia.cursecdn.com/minecraft_de_gamepedia/3/35/Buch.png?v">
    <title>BIBLIOTECA PANTYSMEL</title>
</head>
<body>
<div class="navbar">
    <div th:replace="header :: header"></div>
</div>
<script>
    function showSection(sectionId) {
        var sections = document.querySelectorAll('.content');
        sections.forEach(function (section) {
            section.classList.remove('active');
        });

        var sectionToShow = document.getElementById(sectionId);
        sectionToShow.classList.add('active');
    }

    function validateForm(form) {
        var inputs = form.querySelectorAll('input[required]');
        for (var i = 0; i < inputs.length; i++) {
            if (!inputs[i].value) {
                alert('Por favor, complete todos los campos obligatorios.');
                return false;
            }
        }
        return true;
    }
</script>
<script th:if="${error}" th:inline="javascript">
    /* <![CDATA[*/
    alert([[${error}]]);
    /* ]]>*/
</script>
<script th:if="${success}" th:inline="javascript">
    /* <![CDATA[*/
    alert([[${success}]]);
    /* ]]>*/
</script>

</body>
</html>
