<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">.
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="icon" type="image/png" sizes="16x16" href="https://gamepedia.cursecdn.com/minecraft_de_gamepedia/3/35/Buch.png?v">
    <title>Gestión Titulos</title>
    <style>
        .content-altaTitulo,
        .content-actualizarTitulo,
        .content-borrarTitulo {
            display: none;
        }
        .active {
            display: block;
        }
    </style>
</head>
<body>
<div class="navbar">
    <div th:replace="header :: header"></div>
</div>


<div class="content-altaTitulo" id="altaTitulo">
    <h2>Alta de Título</h2>
    <form th:action="@{/biblioteca/altaTitulo}" method="post" onsubmit="return validateForm(this)">
    <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required>
        <br>
        <label for="isbn">ISBN:</label>
        <input type="text" id="isbn" name="isbn" required>
        <br>
        <label for="autores">Autores (separados por comas):</label>
        <input type="text" id="autores" name="autores" required>
        <br>
        <!-- Desplegable para elegir tipo -->
        <label for="DType">Tipo:</label>
        <select id="DType" name="DType">
            <option value="1">Libro</option>
            <option value="2">Revista</option>
        </select>
        <br>
        <input type="submit" value="Agregar Título">
    </form>
</div>

<div class="content-actualizarTitulo" id="actualizarTitulo">
    <h2>Actualizar Título</h2>
    <form action="/biblioteca/actualizarTitulo" method="post" onsubmit="return validateForm(this)">
        <label for="isbn_actualizar">ISBN del Título a Actualizar:</label>
        <input type="text" id="isbn_actualizar" name="isbn_actualizar" required>
        <br>
        <label for= "titulo_actualizar">Nuevo Título:</label>
        <input type="text" id="titulo_actualizar" name="titulo_actualizar" required>
        <br>
        <label for="autores_actualizar">Nuevos Autores (separados por comas):</label>
        <input type="text" id="autores_actualizar" name="autores_actualizar" required>
        <br>
        <!-- Desplegable para elegir tipo -->
        <label for="DType_actualizar">Nuevo Tipo:</label>
        <select id="DType_actualizar" name="DType_actualizar">
            <option value="1">Libro</option>
            <option value="2">Revista</option>
        </select>
        <br>
        <input type="submit" value="Actualizar Título">
    </form>
</div>
<div class="content-borrarTitulo" id="borrarTitulo">
    <h2>Borrar Título</h2>
    <form action="/biblioteca/borrarTitulo" method="post" onsubmit="return validateForm(this)">
        <label for="isbn_borrar">ISBN del Título a Borrar:</label>
        <input type="text" id="isbn_borrar" name="isbn_borrar" required>
        <br>
        <input type="submit" value="Borrar Título">
    </form>
</div>
<script>
    function showForm(formId) {
        var forms = document.querySelectorAll('.content-altaTitulo, .content-actualizarTitulo, .content-borrarTitulo');
        for (var i = 0; i < forms.length; i++) {
            var form = forms[i];
            if (form.id === formId) {
                // Si es el formulario clicado, se agrega la clase active
                form.classList.add('active');
            } else {
                // Si no es el formulario clicado, se quita la clase active
                form.classList.remove('active');
            }
        }
    }

    function validateForm(form) {
        var inputs = form.querySelectorAll('input[required]');
        for (var i = 0; i < inputs.length; i++) {
            if (!inputs[i].value) {
                alert('Por favor, complete todos los campos obligatorios.');
                return false;
            }
        }
        return true;
    }
</script>
<script th:if="${error}" th:inline="javascript">
    /* <![CDATA[*/
    alert([[${error}]]);
    /* ]]>*/
</script>
<script th:if="${success}" th:inline="javascript">
    /* <![CDATA[*/
    alert([[${success}]]);
    /* ]]>*/
</script>
</body>
</html>